<!-- index.html --> 
<script src="https://rawcdn.githack.com/oscarmorrison/md-page/master/src/showdown.js"></script><script src="https://rawcdn.githack.com/oscarmorrison/md-page/master/src/script.js"></script><noscript>

# OpenFlexure Microscope Handbook

Welcome to the OpenFlexure Microscope Handbook, where we show you how to make the most of the OpenFlexure Microscope. If you like the idea of the OpenFlexure Microscope but don't know what to use it for, this is a great place to start. Our work is designed to be openly shared with users with a full range of experience and backgrounds, so please [let us know](ask-a-question/index.html) if anything isn't clear.

This handbook is a live, community-driven document, so if you've used or expanded on any of our designs, please [let us know](ask-a-question/index.html) and we'll add your name and work for others to build on as well.

## Introduction to the OpenFlexure Microscope

The OpenFlexure Microscope is a 3D-printed microscope which aims to address many of the issues in research and clinical microscopy. Its primary benefits over conventional optical microscopes are that it is low cost, open-source and customisable for a range of laboratory or field applications. The OFM can be assembled in under 2 hours to fit a range of budgets and experience levels. Despite its low cost and "off the shelf" components, it has sufficient resolution and sensitivity to have successfully imaged graphene, fluorescent plant cells, chiral structures, and malaria parasites in red blood cells.

The OpenFlexure Microscope has been used in all continents, and has been used for outreach, teaching and academic research.

## Handbook contents

| I would like to... | Content includes |
| --- | --- |
| [Learn more about the project](./learn-about-the-project/index.html) | Publications, media articles, videos, project information. |
| [Build a microscope](./build-a-microscope/index.html) | Getting started with building a microscope, microscope configurations, imaging modes, sourcing non-printed parts. |
| [Use a microscope](./use-a-microscope/index.html) | Operating the microscope, functionality and extensions. |
| [Develop extensions](./develop-extensions/index.html) | Developing extensions remotely with Visual Studio Code. |
| [Help with the project](./help-with-the-project/index.html)| Contributing back to the project |
| [Debug a microscope](./debug-a-microscope/index.html) | First steps for debugging microscope issues |
| [Ask a question](./ask-a-question/index.html) | Engaging with the project, FAQs |


## Useful links

* [The OpenFlexure website](https://openflexure.org/).

* The [GitLab project page](https://gitlab.com/openflexure/openflexure-microscope).

* Our Twitter: [@OpenFlexure](https://twitter.com/openflexure).

* Ways to [contact us](ask-a-question/index.html).

* Our [publications](learn-about-the-project/publications.html).

* The [OpenFlexure Microscope gallery](https://gitlab.com/openflexure/gallery-wiki) of nice images taken using the OpenFlexure Microscope by the community.
  