<!-- assembly-logs.html --> 
<script src="https://rawcdn.githack.com/oscarmorrison/md-page/master/src/showdown.js"></script><script src="https://rawcdn.githack.com/oscarmorrison/md-page/master/src/script.js"></script><noscript>

# Projects that have used an OpenFlexure Microscope

Quite a few people around the world have now built a microscope.  It would be great to keep track of them!  If you've built one, and especially if you've blogged about it, please add it here.  Even better, if you found snags and/or ways to make it better, make an [issue](https://gitlab.com/openflexure/openflexure-helpdesk) so we can improve the design (and instructions).

* [WaterScope](http://www.waterscope.org) sell kits, and are using the microscope for some cool water testing and looking into medical use as well. (I'm the one that produces the kits; do give me a yell if you want one and they're out of stock)
* Cambridge's [2015 iGEM team](http://2015.igem.org/Team:Cambridge-JIC) based their project on this microscope.  They completely re-engineered it in SolidWorks, based around the design at that time (v5.11) but modified to be upright rather than inverted, and with some seriously neat software.  Hopefully we'll make use of some of that in the future.
* Matt at Public Lab built a [high-resolution v5.15](https://publiclab.org/notes/mathew/07-21-2016/openflexure-microscope-high-resolution-assembly) and a [pi lens based v5.15](https://publiclab.org/notes/mathew/04-17-2016/making-an-openflexure-microscope) and wrote an excellent couple of articles.  They've since used them in [particle tracking/sizing](https://publiclab.org/notes/mathew/10-07-2016/sizing-images-at-portland-science-hackday) and it's exciting to imagine what they'll do next!
* [STICLab](http://www.sticlab.co.tz/) are now making these in Tanzania, contact them if you'd like to buy one there!
* The [Sensors CDT Team Challenge 2016](http://cdt.sensors.cam.ac.uk/news/team-project-optical-projection-tomography) used an offshoot of the microscope design (a flexure-based delta robot) as part of their OPT system.  Particular shout-out to Fergus Riche, who designed some lovely [electronics](https://github.com/fr293/motor_board) and is also one of not very many people to have [worked with the OpenSCAD source for the deltabot](https://github.com/fr293/openflexure_microscope/blob/master/openscad/deltabot.scad).
* Karl Heinz is now marketing them (high-res and low-res models) as [JuakaliScope](https://karlheinztondo.wixsite.com/juakalibox), available in Kenya (and [blogged about](http://www.gearbox.co.ke/blog/2017/2/9/the-juakaliscope)).
* Richard ran a workshop at [GOSH 2017](http://openhardware.science/logistics/) and some of the participants wrote a [hilarious account](https://forum.openhardware.science/t/feedback-funback-on-the-openflexure-microscope-workshop/416) of their experience, complete with a [bilingual video](https://vimeo.com/213341233), awesome soundtrack, and important advice about coffee provision.
* [Proteus Microscopy](https://www.facebook.com/Proteus-Microscopy-2047303305514232/) are doing some cool stuff in Chile!
* Tech for Trade have [made microscopes from recycled plastic bottles](https://twitter.com/techfortrade/status/931185662451245057)

There's definitely more that have been built/tweeted about but not written up.  [WaterScope tweets](https://twitter.com/search?q=waterscope&src=typd&lang=en) relatively often, and here's some of the ones from other people I've spotted so far:
* https://twitter.com/theJeenaLee/status/784618704168419328
* https://twitter.com/rchampieux/status/784936002196344833
* https://twitter.com/Karlheinztondo/status/831829526619574274
* https://twitter.com/sorayacaixeiro/status/821869171155865600
* https://twitter.com/WaterScope_org/status/801710439612743680
* https://twitter.com/partsandcrafts/status/797188697137487872
* https://twitter.com/jenny_molloy/status/744212223665528832
* https://twitter.com/jenny_molloy/status/924278858244861952
* https://twitter.com/bunihub/status/727479022012256256
