<!-- future-work.html --> 
<script src="https://rawcdn.githack.com/oscarmorrison/md-page/master/src/showdown.js"></script><script src="https://rawcdn.githack.com/oscarmorrison/md-page/master/src/script.js"></script><noscript>

# Future work

Our aim for the OpenFlexure Microscope is to support clinicians in sub-Saharan Africa by autonomously diagnosing malaria in areas where other diagnosis methods are impractical. Our microscope is already capable of resolving *Plasmodium falciparum* protozoa in blood samples. Autonomous diagnosis will also require a large amount of training data to help develop a machine learning procedure that is both rigorous and transparent. There is additional research into the challenges caused by the location of the work; print/filament quality, background differences and the environment are all active considerations. For more information on this aspect, please read the [Local Manufacturing](#Local_Manufacturing) section.

The OpenFlexure Microscope's versatility and low cost makes it an ideal candidate to replace expensive traditional microscopes in many other areas. We are working on making the fluorescence mode sufficiently reliable and sensitive to be used to allow undergraduates to have first hand experience with traditionally expensive fluorescent experiments. We are also investigating if the OpenFlexure Microscope is sensitive enough to reflected contrast to automatically locate graphene following mechanical exfoliation.

We feel strongly that the OpenFlexure Microscope is a valuable tool for scientific communication and outreach. We actively seek out opportunities to share our work, and will continue to do so. If you know of any suitable events for formal or informal outreach, please [let us know](../ask-a-question/index.html).
