<!-- index.html --> 
<script src="https://rawcdn.githack.com/oscarmorrison/md-page/master/src/showdown.js"></script><script src="https://rawcdn.githack.com/oscarmorrison/md-page/master/src/script.js"></script><noscript>
# Learn about the project

## Published information

To find out more information about the project and its aims, please check out our [media articles](./media-articles.html) and [journal and conference publications](./publications.html).

## Video information

We have some [videos](./videos.html) about the project.

## Assembly logs

Many people are building and using the OpenFlexure microscope around the world.  Please find out more about these projects in the [assembly logs](./assembly-logs.html) and look at some great images taken using the OpenFlexure Microscope on the [gallery wiki](https://gitlab.com/openflexure/gallery-wiki).  We would love you to add your own!

## Our goals

* [Local Manufacturing](./local-manufacturing.html)
* [Future work](./future-work.html)
* [Teaching](./teaching.html)