<!-- local-manufacturing.html --> 
<script src="https://rawcdn.githack.com/oscarmorrison/md-page/master/src/showdown.js"></script><script src="https://rawcdn.githack.com/oscarmorrison/md-page/master/src/script.js"></script><noscript>

# Local manufacturing

The microscope is designed to be suitable for users to print their own regardless of printer, filament and location. This removes the challenge of getting traditional scientific equipment into many areas. We provide information (and links, where possible) on the equipment used in each version of the OpenFlexure Microscope. This is part of our Open Hardware ethos and brings us closer to our goal of *Robotic Microscopy for All*. OpenFlexure Microscopes have been assembled and used on every continent.  [Assembly logs](assembly-logs.html) show how other teams have been making and using the OpenFlexure Microscope.
