<!-- media-articles.html --> 
<script src="https://rawcdn.githack.com/oscarmorrison/md-page/master/src/showdown.js"></script><script src="https://rawcdn.githack.com/oscarmorrison/md-page/master/src/script.js"></script><noscript>

# Media articles

Some of the articles that the OpenFlexure project have featured in. If you want to write about the OpenFlexure project then please [let us know](mailto:contact@openflexure.org)!

| Date | Link | Description
| --- | --- | --- |
| November 2020 | [Nature Technology Feature](https://doi.org/10.1038/d41586-020-03193-5) | Mention of the project in an article about DIY technologies. |
| November 2020 | [Wilson Center] (https://www.wilsoncenter.org/sites/default/files/media/uploads/documents/STIP%20THING%20Tank%20Building%20Blocks%20for%20Better%20Science.pdf) | As a case study for low-cost and open source tools for science. |
| August 2020 | [The MagPi](https://magpi.raspberrypi.org/issues/96) | Project showcase in the official Raspberry Pi magazine. |
| June 2020 | [British Society for Antimicrobial Chemotherapy](http://www.bsac.org.uk/focusing-on-a-brighter-future-how-an-ultra-low-cost-3d-printed-microscope-could-revolutionise-healthcare-in-lmics/) | An article about the [2020 Biomedical Optics paper](https://doi.org/10.1364/BOE.385729).|
| May 2020 | [ScienceDaily](https://www.sciencedaily.com/releases/2020/05/200504101627.html) | An article about the [2020 Biomedical Optics paper](https://doi.org/10.1364/BOE.385729). |
| May 2020 | [phys.org](https://phys.org/news/2020-05-laboratory-grade-microscope-us18.html) | An article about the [2020 Biomedical Optics paper](https://doi.org/10.1364/BOE.385729). |
| April 2020 | [University of Bath](https://www.bath.ac.uk/announcements/print-your-own-laboratory-grade-microscope-for-15/) | A Bath University press release about the [2020 Biomedical Optics paper](https://doi.org/10.1364/BOE.385729). |
|March 2020 | [preLights](https://prelights.biologists.com/highlights/robotic-microscopy-for-everyone-the-openflexure-microscope/) | A highlight article for the [bioRxiv preprint](https://doi.org/10.1101/861856). |
| August 2019 | [Lab on the cheap](https://www.labonthecheap.com/precision-for-100-the-openflexure-microscope/) | An article discussing the OpenFlexure Microscope. |
| June 2019 | [Lab on the cheap](https://www.labonthecheap.com/openflexure-block-stage-3d-printed-sub-micron-mechanical-precision/) | An article discussing the OpenFlexure Block Stage. |
| March 2019 | [Medium](https://medium.com/@vigyanshaala/sustainable-development-technology-and-beyond-vigyanshaala-upes-8-01-2019-f1c8262245a1) | A great article about a workshop run by WaterScope at UPES, India. |
| January 2019 | [Nature](https://www.nature.com/articles/d41586-018-07853-5) | Nature Toolbox article on 3D printing in the laboratory features the OpenFlexure Microscope. |
| December 2018 | [The Guardian](https://www.theguardian.com/business-to-business/2018/nov/29/could-3d-printed-microscopes-improve-water-testing) | A "business to business" article focusing on WaterScope.
| August 2018 | [Physics World](https://physicsworld.com/a/open-science-hardware-in%E2%80%AFthe-developing-world/) | Article about open-source hardware in the developing world, featuring the OpenFlexure Microscope. |
| February 2018 | [TechSpark](https://techspark.co/6-cool-open-source-projects-built-in-bristol-and-bath/) | Article about local open-source projects, featuring the OpenFlexure Microscope. |
| November 2017 | [Tech Radar](http://www.techradar.com/news/the-quest-for-open-science) | An embarrassingly nice article about the project, that goes into reasonable depth about what's happened so far and our plans for the future. (reposted on [VocalViews](https://vocalviews.com/the-quest-for-open-science/)). |
| October 2017 | [Medium blog post](https://medium.com/@richardbowman_52325/the-openflexure-microscope-goes-to-mozfest-2017-b27499ec896a) | Written before going to Mozfest.
| August 2017 | [University of Bath](http://www.bath.ac.uk/research/news/2017/08/01/3d-printed-microscopes/) | News item about the OpenFlexure project. |
| February 2017 | [3D Print.com](https://3dprint.com/165457/openflexure-3d-printed-microscope/) | |
| January 2017 | [LinuxGizmos.com](http://linuxgizmos.com/open-source-3d-printed-microscope-runs-on-raspberry-pi/) | |
| January 2017 | [Adafruit blog](https://blog.adafruit.com/2017/01/20/this-open-source-3d-printed-microscope-runs-on-raspberry-pi-piday-raspberrypi-raspberry_pi/) | |
| January 2017 | [Hackster.io](https://blog.hackster.io/a-3d-printed-raspberry-pi-based-microscope-for-water-testing-2423f5d0e6a5)| |
