<!-- publications.html --> 
<script src="https://rawcdn.githack.com/oscarmorrison/md-page/master/src/showdown.js"></script><script src="https://rawcdn.githack.com/oscarmorrison/md-page/master/src/script.js"></script><noscript>

# Journal and conference publications

The work of the OpenFlexure project has been published in scientific journals and presented at conferences.

| Title | Year | Journal / Conference |
| --- | --- | --- |
| [The OpenFlexure Project. The technical challenges of Co-Developing a microscope in the UK and Tanzania](https://doi.org/10.5281/zenodo.3862777) | 2020 | AfricArXiv preprint |
| [Robotic microscopy for everyone: the OpenFlexure microscope](https://doi.org/10.1364/BOE.385729) | 2020 | Biomedical Optics Express
| [The OpenFlexure Block Stage: sub-100 nm fibre alignment with a monolithic plastic flexure stage](https://doi.org/10.1364/OE.384207) | 2020 | Optics Express |
| [Flat-Field and Colour Correction for the Raspberry Pi Camera Module](http://doi.org/10.5334/joh.20)  | 2020 | Journal of Open Hardware |
| [Robotic microscopy for everyone: the OpenFlexure Microscope](https://doi.org/10.1101/861856) | 2019 | bioRxiv preprint|
| [Flat-field and colour correction for the Raspberry Pi camera module](https://arxiv.org/abs/1911.13295) | 2019 | arXiv preprint |
| [A one-piece 3D printed flexure translation stage for open-source microscopy](https://dx.doi.org/10.1063/1.4941068)| 2016 | Review of Scientific Instruments
