<!-- teaching.html --> 
<script src="https://rawcdn.githack.com/oscarmorrison/md-page/master/src/showdown.js"></script><script src="https://rawcdn.githack.com/oscarmorrison/md-page/master/src/script.js"></script><noscript>

# Teaching

We believe that the OpenFlexure Microscope is a perfect tool for teaching; it can not only demonstrate optical microscopy to students but also coding, biology and engineering principles. Our current focus here is assembling a workshop kit for teachers to run their own sessions for students between 11 and 14. Our priorities include making a Key Stage 3 level of assembly instructions, writing suitable exercises and using the microscope as a platform to tell an engaging development story. We will be looking for interested and motivated teachers to give feedback and suggestions, so if you have any relevant experience please [get in touch](../ask-a-question/index.html)!
