<!-- FAQ.html --> 
<script src="https://rawcdn.githack.com/oscarmorrison/md-page/master/src/showdown.js"></script><script src="https://rawcdn.githack.com/oscarmorrison/md-page/master/src/script.js"></script><noscript>

# Frequently Asked Questions

## What material is best to print with?  What about print settings?
This is covered in the [printing instructions](https://build.openflexure.org/openflexure-microscope/latest/docs/#/0_printing).  Short answer: use PLA, without any support material or adhesion layer.  Layers of 0.1-0.3mm should be fine, I usually use 0.24.  A brim might be useful, but not for the main body - use the "smart brim" instead.

## What's the best place to get STL files for a particular version of the microscope?
We're working on building nice pre-packaged zip archives of each version, but this is trickier than you'd think.  In the meantime, the [printing instructions](https://build.openflexure.org/openflexure-microscope/latest/docs/#/0_printing) has a collection of lists of the right STL files for each major version.

## Are there nice simple instructions available for a particular version?
At the moment, the instructions try to cover all the options.  Customised instructions are a [work in progress](https://gitlab.com/openflexure/openflexure-microscope/-/issues/24) and if you can help, please join in on that issue thread.  Currently, you can most easily find the [current instructions in the online viewer](https://build.openflexure.org/openflexure-microscope/latest/docs).  

## What's the magnification (or resolution, or field of view)?
See [Resolution and Field of View](../Make%20a%20microscope/Resolution%20and%20Field%20of%20View).

## How can I download a particular STL file?
The STL files are automatically generated from OpenSCAD and are published [here](https://openflexure.org/projects/microscope/build).

## How can I print the microscope without soluble support material?
The microscope should print fine without any support material, and often without a raft or brim.  We've never used soluble support.  I have tested this on quite a lot of different plastic extrusion printers (RepRap, Ultimaker, MakerBot, Retr3d, and many more) and they all worked fine.  Give the test piece a try first if you are unsure, and read the [issue](https://gitlab.com/openflexure/openflexure-microscope/-/issues/55) if you want more details.

## What's the best way to contact you with questions about the microscope?
We encourage everyone to [raise an issue](https://gitlab.com/openflexure/openflexure-helpdesk) if you have found something confusing or need more information - it means the answer stays online so others can find it.  If there's something that, for whatever reason, isn't appropriate for GitLab, contact Richard Bowman at the University of Bath (no emails here to avoid spam, but I'm quite googlable).

## How do I know if it's printed correctly?
This isn't documented as nicely as it could be  but Richard made together some diagrams of the [quality checks](https://gitlab.com/openflexure/openflexure-microscope/-/blob/master/docs/original_images/microscope_body_quality_checks.pdf) he does to make sure it's printed OK.

## You refer to bits of the microscope and I don't know which bit you mean!
There's a reference sheet on [the names of bits of the microscope](https://gitlab.com/openflexure/openflexure-microscope/-/blob/master/docs/original_images/microscope_body_part_names.pdf). This is for an older design, but should be useful.