<!-- index.html --> 
<script src="https://rawcdn.githack.com/oscarmorrison/md-page/master/src/showdown.js"></script><script src="https://rawcdn.githack.com/oscarmorrison/md-page/master/src/script.js"></script><noscript>

# Ask a question

If you have questions or suggestions, we would love to know!  This helps us improve and document the OpenFlexure Microscope better.  

## These are the best ways to ask questions or provide feedback:

1. Check our [Frequently Asked Questions](./faq.html), and check whether someone has already [raised an issue](https://gitlab.com/openflexure/openflexure-helpdesk/) similar to yours.
  
2. Raise an issue on our [GitLab helpdesk](https://gitlab.com/openflexure/openflexure-helpdesk/-/issues/new).

3. Join the discussion in our [Discourse forum](https://openflexure.discourse.group).

4. Chat with us and our community in our [Gitter](https://gitter.im/OpenFlexure-Microscope/Lobby).

5. Tweet us [@OpenFlexure](https://twitter.com/openflexure).

6. [Email us](mailto:contact@openflexure.org).
