
<!-- camera-and-lens.html --> 
<script src="https://rawcdn.githack.com/oscarmorrison/md-page/master/src/showdown.js"></script><script src="https://rawcdn.githack.com/oscarmorrison/md-page/master/src/script.js"></script><noscript>

# Camera and lens information

## Camera

This is the most significant choice (at the moment) for your microscope.  It will set the price and the performance of the microscope, and there are quite a few options.  For camera, you can use a Raspberry Pi camera module, a Logitech C270 webcam, or a USB webcam with M12 lens mount (WaterScope sources these from China, I'm afraid I don't have a part number for you).  The different options are compared in the [Camera options](./camera-options.html) page.  

## Lens

For the lens, you can either use the lens that came with the camera or an RMS objective lens, and tube length correction lens.  The "tube length correction lens" sits inside the optics module, and shifts the image formed by the objective so it focuses properly on the small camera sensor.  We recommend an achromatic doublet, 12.7mm in diameter (1/2"), with a focal length of 50mm.  The easiest way to get one is from ThorLabs, where the part number is [AC127-050-A].  These can be sourced for about £15 from AliExpress.  Some older designs used a f=40mm singlet lens, but we don't recommend this any more as the image quality isn't as good.

For the objective, the LS65 version of the microscope has 35mm from the objective thread to the sample without the sample riser, or 45mm if you use the riser (this is the default).  We recommend using a 45mm parfocal distance objective (sometimes referred to as 195mm), plus a 10mm sample riser or slide riser.  These objectives are usually higher quality than the smaller ones.  To use an older/cheaper 35mm objective, simply remove the riser.  [Sunlight Optical](https://www.aliexpress.com/store/332426) is often a good place to try for inexpensive microscope objectives.  Any suggestions of where to get inexpensive 50mm achromatic lenses from [greatly appreciated](https://gitlab.com/openflexure/openflexure-helpdesk).  We have previously sourced these from [Lighten Optics](https://www.aliexpress.com/store/912240) on AliExpress.

[AC127-050-A]: https://www.thorlabs.com/thorproduct.cfm?partnumber=AC127-050-A

## Magnification, resolution and field of view

Richard has [written](./magnification-resolution-and-field-of-view.html)about the relationship between magnification, resolution and field of view for microscopes and the OpenFlexure microscope in particular. It also contains some numerical comparison of the different configurations.
