<!-- camera-options.html --> 
<script src="https://rawcdn.githack.com/oscarmorrison/md-page/master/src/showdown.js"></script><script src="https://rawcdn.githack.com/oscarmorrison/md-page/master/src/script.js"></script><noscript>
# Camera options

The camera is a central part of the microscope - it is what allows you to form an image and often provides the lens too.  It is usually the most expensive component (possibly after the objective lens if you use one), and determines the light-sensitivity, field of view, and other key numbers.  There are a number of cameras supported in this design, each with their own advantages and disadvantages.  These are outlined below:

## Raspberry Pi Camera Module v2

* Resolution: 3280x2464
* Pixel Pitch: 1.12um
* Sensor Size: 3.67x2.76mm
* Stock lens focal length: 3.04mm
* Specifications: [Raspberry Pi Docs](https://www.raspberrypi.org/documentation/hardware/camera/)

The Raspberry Pi camera module is my favourite sensor.  It's really sensitive, and the preview on the Raspberry Pi screen has almost no lag (which you get to really appreciate when using it interactively).  If you're using a Raspberry Pi computer, this camera is way faster than a webcam, and it's much better in low light (most USB webcams have fairly cheap sensors, this one is more like a decent phone camera).  The stock lens is also pretty good, due to the small pixels on the sensor - it gets a resolution that's between 1 and 2um.  The first version of the Pi camera module was also good, but is discontinued now.  Its advantage over v1 is that the working distance of the lens is greater (it can see through a microscope slide).  However the lens is not as high resolution, and the camera is nowhere near as sensitive.

### Advantages

* Great in low light (fluorescence, etc.)
* Really nice stock lens included
* Works really well with Raspberry Pi

### Disadvantages

* Only works with Raspberry Pi
* Supplied ribbon cable is short and delicate
* Lens shading correction can be a pain
* Stock lens has a short working distance (can't image through microscope slides, coverslips are OK)

## Logitech C270 Webcam

* Resolution: 1280x720
* Pixel Size: 2.8um
* Sensor Size: 3.58x2.02mm
* Stock lens focal length: 4.2mm

The Logitech C270 is a webcam that I've generally found is easy to get hold of, convenient to disassemble, and works pretty well as a microscope sensor.  I originally chose it because it was something I could easily order via my University purchasing system, and I've since found it to be easy to buy in many places in the world.  It's nothing special as a sensor, but it gets the job done and is convenient when you want something to plug in on USB.  I have successfully soldered wires onto the 0v and 5v lines on the board to power a LED for microscope illumination.  However, I don't recommend it to anyone - and won't be held responsible if you short out USB power and fry your computer!

### Advantages

* Easy to purchase, usually not too expensive (£15)
* Plug-and-play on most systems
* Decent auto-exposure settings
* Sensor size similar to Raspberry Pi camera

### Disadvantages

* Hard to disable auto-exposure etc.
* Not as sensitive as Pi Camera
* Hard to power an LED from the camera - need a separate light source.


## 6-LED VGA Webcam

* Resolution: 640x480
* Pixel Pitch: 3um (approx.)
* Sensor Size: 1.9x1.4mm (approx.)
* Stock lens focal length: 3.8mm

It's possible to get very cheap webcams from China these days.  This one was kindly given to me by Marc Dusselier and is used in the [Hackteria Microscope](https://hackteria.org/wiki/DIY_microscopy) which is a project to check out if you want a simpler build for your microscope - their workshop is a lot of fun and doesn't require a printer.  You can buy these on aliexpress or ebay for around £2.20 or US$3.  They have 6 LEDs soldered on to them, and it should be possible to remove these, and reattach via a couple of wires, so you can use it as microscope illumination.  The LEDs on mine were through-hole mounted, so the soldering is much easier than with the Logitech C270 and I'm not so worried about shorts.  It's not a wonderful sensor, but it is super cheap - so I've included it here.  It will work using the same optics module as the other USB camera with M12 lenses, but it would be better if the sensor was mounted higher so I may well produce a specific optics module at some point.

### Advantages

* Super cheap! (around $3)
* Easy to hack illumination together using provided LED and simple soldering
* Fits the existing M12 optics module

### Disadvantages

* Small sensor -> small field of view
* Not as nice a sensor as the Raspberry Pi camera
* Requires some soldering to get USB powered illumination.

## WaterScope 5Mp USB Camera
**No longer available!** 

This camera was supplied in the WaterScope microscope kits a few years ago, but isn't currently available.

* Resolution: 1400x1050 (1)
* Pixel Pitch: 4um (1)
* Sensor Size: 5.6x4.2mm (2)
* Stock lens focal length: 4.1mm

(1) When we ran this test the 5Mp camera was only running at 1.4Mp; we're working on the software for this!
(2) This is estimated, rather than taken from the spec sheet of the chip.

We wanted a soldering-free USB solution, and so Tian sourced these cameras from China - they are supplied to WaterScope with an LED on a cable, meaning you have an all-in-one USB powered microscope with no need for separate illumination power.  We also specified a pretty decent lens, with reasonable resolution and impressively long working distance.  The sensor its self is pretty average in terms of sensitivity and noise, but it is quite big - which means you get a large field of view, although the edges tend to be a bit distorted as it's often a bigger FoV than the optics were designed for.

### Advantages

* Built-in illumination
* Stock lens with long working distance
* Supplied in WaterScope kits
* Big sensor

### Disadvantages

* Not as sensitive as Pi camera
* Not always easy to procure
* Big sensor isn't always useful
* Can be hard to get full-resolution pictures (no official software)
