<!-- imaging-modes.html --> 
<script src="https://rawcdn.githack.com/oscarmorrison/md-page/master/src/showdown.js"></script><script src="https://rawcdn.githack.com/oscarmorrison/md-page/master/src/script.js"></script><noscript>

# Imaging modes

Imaging Mode | Example applications | LED? :bulb: | Beamsplitter? | Filters required?
-------------|----------------------|------|---------------|---------
[Bright-field transmission](#bright-field-transmission) | Blood, water | Y | N | N
[Bright-field reflection](#bright-field-reflection) | Graphene | White | Y | N
[Polarisation-contrast transmission](#polarisation-contrast-transmission) | Chiral samples | Y | N | 2 polarisers 
[Fluorescence imaging](#fluorescence-imaging) | Cell imaging | Y | Y | 1 excitation, 1 emission

## Bright-field transmission

{::TODO}

## Bright-field reflection

![Graphene under bright-field reflection illumination.](imgs/graphene.jpg " Graphene under bright-field reflection illumination.")

Bright-field reflection microscopy is useful for samples with an optical contrast with an opaque substrate. Unless your sample determines otherwise (for example, green light for some graphene samples), a white LED should be used. A dichroic 50:50 beam splitter should be inserted at 45° into the printed filter cube.

## Polarisation-contrast transmission

{::TODO}

## Fluorescence imaging

![Fluorescent image of Lily of the Valley](imgs/blue_FI.jpeg "Fluorescent image of Lily of the Valley")

Fluorescence microscopy is one of the most important and powerful methods for investigating a range of biological processes. When a fluorescent sample is illuminated with suitable wavelength, high intensity excitation light, some of the light is Stokes-shifted to a lower energy wavelength. This different colour light can be filtered out and used to view a range of biological samples.

To use the OpenFlexure Microscope to take fluorescence images, you will need a fluorescent sample with known fluorescent properties. These properties – such as the excitation and emission wavelengths – will decide the dichroic beam splitter and filters to be added to the printed filter cube. The suggested setups for three of the most popular fluorescent stains are shown below.

Dye name | Peak excitation (nm) | Peak emission (nm) | Excitation filter | Emission filter | Dichroic beam splitter | LED
-------------|----------------------|------|---------------|---------|-|-
DAPI | 358 | 461 | 360 GB 50 | 435 GY 50 | 454 IY 125 @ 45° | UV
GFP | 495 | 519 | 495 IK 125 | 510 IY 125 | 550 IY 50 @ 45° | Blue
Texas Red | 536 | 617 | 538 GK 50 | 590 GY 50 | 635 IY 125 @ 45° | Orange