<!-- index.html --> 
<script src="https://rawcdn.githack.com/oscarmorrison/md-page/master/src/showdown.js"></script><script src="https://rawcdn.githack.com/oscarmorrison/md-page/master/src/script.js"></script><noscript>

# Build a microscope

## Start here

If you want to build the OpenFlexure Microscope, the first place you should look is the [build page](https://openflexure.org/projects/microscope/build) of the website.  This is the most up-to-date source of information and includes all the STL files for your 3D printer, as well as a bill of materials for non-printed parts, and the assembly instructions.

## Additional information

There are different microscope configurations available, to suit different resources and budgets.  These pages should help you determine what is best for you.  

* [Imaging modes](./imaging-modes.html): The different imaging configurations possible for the OpenFlexure Microscope.

* [Camera and lens](./camera-and-lens.html): Information about choosing the right lens and camera for your project.

* [Non-printed parts](./non-printed-parts.html):  Information about the non-printed parts and suitable substitutions.

* The [GitLab project page](https://gitlab.com/openflexure/openflexure-microscope) has some additional information, as well as all the source files.

* If you need more information, please [ask a question](../ask-a-question/index.html)!