<!-- non-printed-parts.html --> 
<script src="https://rawcdn.githack.com/oscarmorrison/md-page/master/src/showdown.js"></script><script src="https://rawcdn.githack.com/oscarmorrison/md-page/master/src/script.js"></script><noscript>

# Non-printed parts

There are a number of non-printed parts in the microscope design.  The most up to date bill of materials can be found in the [assembly instructions](https://build.openflexure.org/openflexure-microscope/latest/docs/#/0_bill_of_materials).  

## Substitutions

If you can't get any of the parts listed above, there are usually work-arounds.  If you find a good substitution, please edit this page and add it in or [let us know](https://gitlab.com/openflexure/openflexure-helpdesk).

### Hex head screws
  
* These are best obtained from [Westfield Fasteners](https://www.westfieldfasteners.co.uk/A2_ScrewBolt_HexHd_M3_THRfull.html) in the UK, or McMaster Carr in the US.  There are suppliers of these things in most countries, though M3 generally counts as small enough to be at least a bit specialist. 
* If you can't get hex head screws, get another head shape and jam a nut up against the head.  The nut then takes the place of the hex head, and keeps the screw attached to the gear.  Ultimately, what you need is about 25mm of M3 thread, with a hexagon at one end - either the head of the screw, or a nut jammed up against it.  The two outer actuators are slightly shorter than the central one, so two 25mm screws and one 30mm screw works well if you're using the extra-nut-trick (the extra nut uses up around 3mm of thread).

### Brass nuts

* These are embedded in the actuators, and used to move them up and down.  Brass will have lower friction and smoother motion, but steel should also work fine.  I've not tried Nylon, it may well work nicely, though you'd need to be careful to avoid damaging them.
  
### Viton O-rings

* You can substitute Nitrile O-rings, but these can perish over time if exposed to UV light.  For most applications this isn't too much of a problem, particularly if you use coloured plastic (which will prevent most of the band from ever being exposed to light).
* If you can't get O-rings, you can use #32 rubber bands, which are 3x1x75mm in size.  You'll need to wrap them around the base of the microscope feet in order to get them tight enough to work.  There are slots in the feet to allow you to pass the band from the inside to the outside and then wrap them around.  This is described in the last revision of the v5.15 instructions.  In v5.17, those slots are printed with thin bits of plastic closing them off at the bottom (in order to help them stick to the bed better).  You'll need to snap those thin bridges with a screwdriver or other tool in order to wrap the band around the outside of the foot to tension it.  In quantity, O-rings are not too expensive.  Hopefully OpenFlexure Industries will be able to sell non-printed part kits soon, so you can get better prices.
