<!-- important-os-structure.html --> 
<script src="https://rawcdn.githack.com/oscarmorrison/md-page/master/src/showdown.js"></script><script src="https://rawcdn.githack.com/oscarmorrison/md-page/master/src/script.js"></script><noscript>

# Important OS structure

(for lack of a better title)

This section discusses key files and folders used in our custom Raspbian OpenFlexure operating system.

## The OpenFlexure directory

All openflexure applications, logs, and data are stored in
`/var/openflexure`
by default. The Pi user may not have RW permissions for this folder without sudo.


## OpenFlexure Web-Service user

We've introduced a new user, `openflexure-ws`.

This user profile runs the default openflexure background services. The user has full permissions and ownership of `/var/openflexure`.

### Logging in as openflexure-ws

The Default password for this user is `openflexure`

You can drop into running as this user (useful for debugging or manually changing/deleting data and settings files) by running:

`sudo -i -u openflexure-ws`


## The server application

The main server Python application lives in:
`/var/openflexure/application/openflexure-microscope-server`

The corresponding main app module is:
`openflexure_microscope.api.app`


### Server virtual environment

The server application is installed to a virtual environment at 
`/var/openflexure/application/openflexure-microscope-server/.venv`

Activate with:

`ofm activate`

or

`source /var/openflexure/application/openflexure-microscope-server/.venv/bin/activate`


## Server service

Service file lives at:
`/etc/systemd/system/openflexure-microscope-server.service`

Service file does:
* Run as user `openflexure-ws`
	* `User=openflexure-ws`
	* `Group=openflexure-ws`
* Runs within the server virtual environment
	* `Environment="PATH=/var/openflexure/application/openflexure-microscope-server/.venv/bin/:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin"`
* Runs Python app
	* `ExecStart=/var/openflexure/application/openflexure-microscope-server/.venv/bin/python -m openflexure_microscope.api.app`

### Service logs

A real-time, live-updating service log can be viewed using

`ofm journal`

Static service error log can be accessed with:

`ofm log`

or

`sudo systemctl status openflexure-microscope-server`


## Running the server app yourself (good for debugging)

You can stop the service, and run it manually for debugging purposes by running:

`ofm serve`

or

* `ofm stop`
* `sudo -i -u openflexure-ws`
* `source /var/openflexure/application/openflexure-microscope-server/.venv/bin/activate`
* `python -m openflexure_microscope.api.app`

This will run the application exactly as the service will. If exceptions are raised here, then they will almost certainly also be raised in the service


## Static log files

Log files can be found in:
`/var/openflexure/logs`

Note, both the background service *and* running the app manually will write to the logfiles here.
There are super useful for identifying sources of exceptions even if you were running via the service.
