<!-- index.html --> 
<script src="https://rawcdn.githack.com/oscarmorrison/md-page/master/src/showdown.js"></script><script src="https://rawcdn.githack.com/oscarmorrison/md-page/master/src/script.js"></script><noscript>

# Debug a microscope

This section discusses some common causes of microscope errors, and how they can be tested and fixed.

Additional information, particularly useful for developers, on important parts of our custom Raspbian OS, can be found [here](Important%20OS%20structure.md).

## OpenFlexure Microscope Rescue

Raspbian-OpenFlexure includes a command to diagnose common microscope hardware issues.

From your microscope terminal, run the command `ofm rescue`.

The script will run through a series of short tests to diagnose setup issues that may cause problems, and give advice on how to rectify them.

This should be your first action when experiencing issues. If the rescue script does not find any problems automatically, or the advice does not help, please refer to the following sections.

## Damaged/disconnected hardware

For both the camera and stage, if real hardware cannot be initialised for any reason, the server will run with "mock" devices.

You can check the connection status from within the microscope interface in the "About" pane on the left

As well as "No {device} connected" in the microscope interface status pane, the live feed will be replaced with a timestamped message, and stage move commands will do nothing.

If you're expecting a device: 

1. Check all physical connections. This is by far the most common single source of error reported.

2. Check for simple errors (`ofm serve`)

3. Try resetting the camera/stage settings ([Borked settings files](#Corrupt-settings/configuration-files))


Finally, it can be useful to check the camera/stage works on another Pi, or another camera/stage works on the current Pi.

## Can't find a microscope on the network

All microscopes use mDNS to announce themselves on a network. This is what eV uses to auto-detect nearby microscopes.

If the server isn't running, and you need to find the microscopes IP address for SSH debugging etc, you can use any mDNS/Bonjour/Zeroconf browser to find the microscopes IP address.

### On Windows: 
* Install Bonjour Browser
* Run, refresh (big button at top right), and look for entries with:

	`Type: _openflexure._tcp.`
	*  Click the entry. In the bottom pane, IP addresses will be shown.
	* Note, the IP address will also show a port (usually :5000). This port is for the web server only. Just remove the port section when connecting with SSH

### On Linux (Debian-based):
* sudo apt install avahi-utils
* avahi-browse -atr
* Find IP from any entries with _openflexure._tcp type


## Too much capture data

On starting the server, it will scan the default data directory for images, extract their metadata, and use that to rebuild the in-memory list of captures. Normally, this happens on startup, and only takes a few seconds after which the server starts normally.

If, however, the Pi is powering on but the server isnt starting, it may be because this process is taking a really long time.

Run the server in debug mode (`ofm serve`) and see if the server stalls at the point of rebuilding captures.

If that's the case, just move the `/var/openflexure/data/micrographs/` folder to external storage or the user folder or something.

## Corrupt settings/configuration files

Sometimes the server settings files can get corrupted, this can cause the software to act strangely. If you think this has happened you can try removing them.

There are 2 settings files:

`/var/openflexure/settings/microscope_configuration.json`

This file tells the server how to start up, for example which hardware devices to expect, and on which port

`/var/openflexure/settings/microscope_settings.json`

This holds things like stage and camera settings used at runtime.

You can easily back up (just make a copy somewhere) and delete these files to reset to the default configuration.
