<!-- functionality.html --> 
<script src="https://rawcdn.githack.com/oscarmorrison/md-page/master/src/showdown.js"></script><script src="https://rawcdn.githack.com/oscarmorrison/md-page/master/src/script.js"></script><noscript>

# OpenFlexure eV Functionality

## Included as default

| Functionality | Description |
| --- | --- |

{::TODO}

## Available as extensions

| Functionality | Description | Repository |
| --- | --- | --- |

{::TODO}
