<!-- index.html --> 
<script src="https://rawcdn.githack.com/oscarmorrison/md-page/master/src/showdown.js"></script><script src="https://rawcdn.githack.com/oscarmorrison/md-page/master/src/script.js"></script><noscript>

# Use a microscope

## Controlling the microscope

The OpenFlexure Connect client software (included with [Raspbian-OpenFlexure](https://openflexure.org/downloads/#raspbian-openflexure) and available for [download](https://openflexure.org/downloads/#openflexure-connect)) is recommended for controlling the microscope.

### Installing the software

To use the microscope, you will need to install the software on your Raspberry Pi.  The recommended way to do this is with Raspbian-OpenFlexure.  

[These instructions](./installing-the-software.html) explain the process.

### Starting the microscope for the first time

A guide to the first boot of the OpenFlexure Microscope can be found on the [OpenFlexure website](https://openflexure.org/projects/microscope/install#first-boot).

### Connecting to the microscope

A guide on connecting to the microscope on the Raspberry Pi or from a different computer can be found on the [OpenFlexure website](https://openflexure.org/projects/microscope/control).

### Controlling the microscope from a Mac

The process for installing OpenFlexure Connect from a Mac is slightly more complex, but if you follow these instructions it will work.

1. Clone the [openflexure-connect repository](https://gitlab.com/openflexure/openflexure-connect).
   1. Open the `Terminal` app.
   2. Type `git clone https://gitlab.com/openflexure/openflexure-connect.git`. (You may need to install developer tools to do this.)
2. Install `homebrew`.
   1. Copy the command shown at the top of the [homebrew website](https://brew.sh/).
   2. Paste it into the same `Terminal` app and follow the prompts.
3. Install `Node.js` and `NPM`.
   1. In the same `Terminal` app type:
   
      `brew install node`.
   2. Follow the prompts.
4. Install `openflexure-connect`.
   1. In the same `Terminal` app type:
      
      `npm install`
   2. Then type:

      `npm run electron:build`
5. Install the mac executable.
   1. Locate the folder where the `openflexure-connect repository` was cloned to. (Most likely `~/openflexure-connect`)
   2. In the folder that starts `/dist`, there will be a Mac Executable called `OpenFlexure Connect`.  Click this to install the app as you would normally.
6. The app will be install in your `Applications` folder and will run exactly the same as the other systems. (To change the z-position: `PgUp` is `fn + up` and `PgDn` is `fn + down`)
   
## Using OpenFlexure eV

When you first start using OpenFlexure Connect, you will be given a short tour of the software's features.  If there is still something you are unclear about, then please [let us know](../ask-a-question/index.html).

### Shortcut keys

There are some [shortcut keys](./shortcut-keys.html) which will speed up your operation of the OpenFlexure Microscope.

## Retrieving your micrographs

The easiest way to access your micrographs for further processing is directly on the Raspberry Pi.  The micrographs are usually stored in `/home/pi/openflexure/data/micrographs`, but if you have been using it for development, then they may be stored in `/var/openflexure/data/micrographs`. You can then use a USB memory stick to copy the images to another computer.  

Alternatively, if your microscope is connected to your main computer using an ethernet cable or WiFi, then you could use [SCP](https://en.wikipedia.org/wiki/Secure_copy) to copy the images across.

## Functionality and extensions

The OpenFlexure Microscope software comes with the most commonly required functionality built in.  This includes tile scans, autofocus and a gallery to view the images.  It is also possible to create additional functionality using [extensions](../develop-extensions/index.html).

There is a [list of functionality and extensions](./functionality.html) for reference.