<!-- installing-the-software.html --> 
<script src="https://rawcdn.githack.com/oscarmorrison/md-page/master/src/showdown.js"></script><script src="https://rawcdn.githack.com/oscarmorrison/md-page/master/src/script.js"></script><noscript>

# Installing the OpenFlexure Microscope software

## Download the latest pre-built Raspbian SD card image

1. Download the Raspbian operating system with the OpenFlexure software preinstalled from the [OpenFlexure website](https://build.openflexure.org/raspbian-openflexure/latest). 
    > **Warning:** This is a large download (~4GB).

2. Unzip the download, and remember where the `.img` file is located.

> More information about installing the OpenFlexure software can be found on the [OpenFlexure website](https://openflexure.org/projects/microscope/install#install-raspbian-openflexure)

> If you already have a copy of the OpenFlexure software installed on your microscope and wish to keep your settings, please follow [these instructions](#retaining-your-settings-from-a-previous-install-of-the-openflexure-software-advanced).

### Download the Raspberry Pi Imager

1. Download the software used to install a Raspberry Pi operating system on your micro SD card (the Raspberry Pi Imager) from the [Raspberry Pi website](https://www.raspberrypi.org/downloads/).

> There are other imaging tools available, more information can be found [on the Raspberry Pi website](https://www.raspberrypi.org/documentation/installation/installing-images/).

## Install the modified Raspbian software on your SD card using the Raspberry Pi Imager

You will require an SD card reader for this part.

> **Warning:** This will completely erase all data on your SD card, make sure it is backed-up before continuing.

1. Connect the SD card reader with the micro SD you want to use in the microscope to your computer.  
2. Open the Raspberry Pi Imager software.
3. For the operating system option, choose `Use custom`.
4. Locate the modified Raspbian `.img` software you downloaded.
5. Choose the SD card you wish to install this operating system to.
6. Click `Write`.  This step will take some time to finish.
7. Once this is complete, remove the micro SD card from your computer and insert into the Raspberry Pi in your microscope.
