<!-- shortcut-keys.html --> 
<script src="https://rawcdn.githack.com/oscarmorrison/md-page/master/src/showdown.js"></script><script src="https://rawcdn.githack.com/oscarmorrison/md-page/master/src/script.js"></script><noscript>

# Shortcut keys

| Keyboard key | Action |
| --- | --- |
| :arrow_up: | Move positive `y` direction |
| :arrow_down: | Move negative `y` direction |
| :arrow_right: | Move positive `x` direction |
| :arrow_left: | Move negative `x` direction |
| `PgUp` | Move positive `z` direction |
| `PgDn` | Move negative `z` direction |

